ul {
  list-style: none;
}

.right-side-cards {
  background-color: #F3F6F7;
  column-count: 2;
  column-gap: .5em;
  padding: 0 30px 0 0;
  overflow-y: scroll;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  display: inline;
}

.to-do-card {
  background-color: #FAFDFF;
  border: 1px solid #C7D3D8;
  display: inline-block;
  width: 90%;
  padding: 10px;
  margin: 20px;
}

.to-do-card-urgent {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;

}

.task-title {
  margin-bottom: 15px;
  color: #1F1F3D;
}

.checklist {
  margin-top: 20px;
}

.task-card-checklist {
  color: #1F1F3D;
}

.task-card-checklist-checked {
  font-style: italic;
  color: #3C6577;
}

.task-card-line {
  width: 99.9%;
  margin-top: 15px;
}

.urgency,
.delete-card {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

figcaption {
  color: #3C6577;
}

.fig-urgent {
  color: #B23A25;
}


.task-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: block;
  text-align: center;
}
